<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<h2>Line No. : {{ line }} Testing Machine {{ machine }}</h2>
<h2>Report of Date :- {{ dt }} to {{ edt }}</h2>

<table id="customers">
  <thead class="thead-dark">
	<tr>
		<th scope="col">Rating</th>
		<th scope="col">Total</th>
		<th scope="col">ARC Fail</th>
		<th scope="col">Cont Fail</th>
		<th scope="col">Hold Fail</th>
		<th scope="col">Trip Fail</th>
		<th scope="col">KNR Fail</th>
		<th scope="col">HV Fail</th>
		<th scope="col">Total Fail</th>
		<th scope="col">Total Pass</th>
		<th scope="col">% Rejection</th>
	</tr>
	</thead>
	<tbody>
		{% for r in report %}
		<tr>
		<td>{{ r.rating }}</td>
		<td>{{ r.rating__count }}</td>
		<td>{{ r.report.f_arc }}</td>
		<td>{{ r.report.f_cont }}</td>
		<td>{{ r.report.f_hold }}</td>
		<td>{{ r.report.f_trip }}</td>
		<td>{{ r.report.f_knr }}</td>
		<td>{{ r.report.f_hv }}</td>
		<td>{{ r.report.rej }}</td>
		<td>{{ r.report.passed }}</td>
		<td>{{ r.report.rej_rate }}</td>
		</tr>
		{% endfor %}
		{% if total %}
		<tr>
		    <td>All</td>
		    <td>{{ total.tcount }}</td>
		    <td>{{ total.f_arc }}</td>
		    <td>{{ total.f_cont }}</td>
		    <td>{{ total.f_hold }}</td>
		    <td>{{ total.f_trip }}</td>
		    <td>{{ total.f_knr }}</td>
		    <td>{{ total.f_hv }}</td>
		    <td>{{ total.rej }}</td>
		    <td>{{ total.passed }}</td>
		    <td>{{ total.rej_rate }}</td>
		  </tr>
		{% endif %}
	</tbody>
</table>

</body>
</html>
