{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}
<style>
  tr {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}
</style>
<br/>
<div class="container-fluid">
  <table class="table table-hover table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date & Time</th>
      <th scope="col">Count</th>
      <th scope="col">Rating</th>
      <th scope="col">Hold V</th>
      <th scope="col">Trip V</th>
      <th scope="col">ARC</th>
      <th scope="col">Cont</th>
      <th scope="col">Hold</th>
      <th scope="col">Hold A</th>
      <th scope="col">Hold T</th>
      <th scope="col">Trip</th>
      <th scope="col">Trip A</th>
      <th scope="col">Trip T</th>
      <th scope="col">KNR</th>
      <th scope="col">HV</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody id="production">
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table>
</div>

<script type="text/javascript">
  function getStatus(a){
    if (a==0){
      return 'Fail'
    }else if(a == 1){
      return 'Pass'
    }else if(a == 2){
      return 'Bypass'
    }
  }
  function getStatusFinal(a){
    if (a==0){
      return 'Rejected'
    }else if(a == 1){
      return 'OK'
    }
  }
</script>


<script type="text/javascript">
  // count = 1
  // var time = 1;

  // var table = document.getElementById("production");

  // var interval = setInterval(function() { 
  //     console.log(table.rows[time]+time);
  //     var d = new Date();
  //     $.ajax({
  //       type: "POST",  
  //       url: "",
  //       data: {
  //         "msg": "request",
  //         csrfmiddlewaretoken: '{{ csrf_token }}'
  //       }, 
  //       success: function(){  
  //           $("form#updatejob").hide(function(){$("div.success").fadeIn();});  
  //       },
  //       error: function(XMLHttpRequest, textStatus, errorThrown) { 
  //           console.log("Status: " + textStatus); console.log("Error: " + errorThrown); 
  //       }       
  //     });
  //     if(time>10){
  //       time=1;
  //       $(table.rows[10]).removeClass("highlight");
  //     }
  //     $(table.rows[time]).addClass("highlight");
  //     table.rows[time].cells[0].innerHTML = [d.getMonth()+1,
  //              d.getDate(),
  //              d.getFullYear()].join('/')+' '+
  //             [d.getHours(),
  //              d.getMinutes(),
  //              d.getSeconds()].join(':');
  //     table.rows[time].cells[1].innerHTML = count;
  //     if(time>1){$(table.rows[time-1]).removeClass("highlight");}
  //     time++;count++;
  // }, 2000);
</script>

<style type="text/css">
  .highlight{
    background: #33ccff;
  }
</style>

<div class="container-fluid">
  <h3 class="text-center">Summary</h3>
  <table class="table table-hover table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date & Time</th>
      <th scope="col">Count</th>
      <th scope="col">ARC Fail</th>
      <th scope="col">Cont Fail</th>
      <th scope="col">Hold Fail</th>
      <th scope="col">Trip Fail</th>
      <th scope="col">KNR Fail</th>
      <th scope="col">HV Fail</th>
      <th scope="col">Total Fail</th>
      <th scope="col">Total Pass</th>
      <th scope="col">% Rejection</th>
    </tr>
  </thead>
  <tbody id="summary-table">
    <tr>
      <th scope="row" id="today"></th>
      <td>{{ tcount }}</td>
      <td>{{ f_arc }}</td>
      <td>{{ f_cont }}</td>
      <td>{{ f_hold }}</td>
      <td>{{ f_trip }}</td>
      <td>{{ f_knr }}</td>
      <td>{{ f_hv }}</td>
      <td>{{ rej }}</td>
      <td>{{ passed }}</td>
      <td>{{ rej_rate }}</td>
    </tr>
  </tbody>
</table>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    setInterval(function() {
      $.ajax({
        type: "POST",  
        url: "{% url 'users:get-status' %}",
        data: {
          "msg": "request",
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }, 
        success: function(data){  
            $("form#updatejob").hide(function(){$("div.success").fadeIn();});
            var table = document.getElementById("production").rows;
            // for(var i = 1; i<=10; i++){
            //   console.log("row "+i, table[i])
            // }
            console.log(data);
            var table1 = document.getElementById("summary-table").rows;
            table1[0].cells[1].innerHTML = data["summary"]["tcount"];
            table1[0].cells[2].innerHTML = data["summary"]["f_arc"];
            table1[0].cells[3].innerHTML = data["summary"]["f_cont"];
            table1[0].cells[4].innerHTML = data["summary"]["f_hold"];
            table1[0].cells[5].innerHTML = data["summary"]["f_trip"];
            table1[0].cells[6].innerHTML = data["summary"]["f_knr"];
            table1[0].cells[7].innerHTML = data["summary"]["f_hv"];
            table1[0].cells[8].innerHTML = data["summary"]["rej"];
            table1[0].cells[9].innerHTML = data["summary"]["passed"];
            table1[0].cells[10].innerHTML = data["summary"]["rej_rate"];
            for (i in data['data'].reverse()){
              $(table[14]).removeClass("highlight");
              var d = new Date(data['data'][i]['dt']);
              table[i].cells[0].innerHTML = d.toLocaleString("en-US");
              table[i].cells[1].innerHTML = data["tcount"]+parseInt(i);
              table[i].cells[2].innerHTML = data['data'][i]["rating"];
              table[i].cells[3].innerHTML = data['data'][i]["hold_v"];
              table[i].cells[4].innerHTML = data['data'][i]["trip_v"];
              table[i].cells[5].innerHTML = getStatus(data['data'][i]["arc"]);
              table[i].cells[6].innerHTML = getStatus(data['data'][i]["cont"]);
              table[i].cells[7].innerHTML = getStatus(data['data'][i]["hold"]);
              table[i].cells[8].innerHTML = data['data'][i]["hold_a"];
              table[i].cells[9].innerHTML = data['data'][i]["hold_t"];
              table[i].cells[10].innerHTML = getStatus(data['data'][i]["trip"]);
              table[i].cells[11].innerHTML = data['data'][i]["trip_a"];
              table[i].cells[12].innerHTML = data['data'][i]["trip_t"];
              table[i].cells[13].innerHTML = getStatus(data['data'][i]["knr"]);
              table[i].cells[14].innerHTML = getStatus(data['data'][i]["hv"]);
              table[i].cells[15].innerHTML = getStatusFinal(data['data'][i]["status"]);
              console.log(i)
              $(table[i]).addClass("highlight");
              $(table[i-1]).removeClass("highlight");
              // if (data["count"])
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
            console.log("Status: " + textStatus); console.log("Error: " + errorThrown); 
        }       
      });
    }, 1000);
  });
</script>
<script type="text/javascript">
  var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
  var d = new Date();
  document.getElementById("today").innerHTML = d.toLocaleDateString("hi-IN");
</script>
<div class="text-center">
  <a href="{% url 'users:reports' %}"><button type="button" class="btn btn-primary btn-sm active">Reports</button></a>
  <a href="{% url 'users:homepage' %}"><button type="button" disabled="" class="btn btn-primary btn-sm">Receive Data</button></a>
  <a href="{% url 'users:report-mail' %}"><button type="button" class="btn btn-primary btn-sm">Report Mail</button></a>
  <a href="/admin"><button type="button" class="btn btn-primary btn-sm">Settings</button></a>
</div>
<br/>
{% if errors %}
  <div class="alert alert-danger" role="alert">
    {{ errors }}
  </div>
{% endif %}
{% endblock %}