{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<br/>

{% if form %}
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
                            <div class="card-body">
                                <form action="" method="post">
                                	{% csrf_token %}
                                    <div class="form-group row">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                        <div class="col-md-6">
                                            <input type="date" id="email_address" class="form-control" name="date" required autofocus>
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% else %}
    <div class="container-fluid">
      <table class="table table-hover table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rating</th>
            <th scope="col">Count</th>
            <th scope="col">ARC Fail</th>
            <th scope="col">Cont Fail</th>
            <th scope="col">Hold Fail</th>
            <th scope="col">Trip Fail</th>
            <th scope="col">KNR Fail</th>
            <th scope="col">HV Fail</th>
            <th scope="col">Total Fail</th>
            <th scope="col">Total Pass</th>
            <th scope="col">% Rejection</th>
          </tr>
        </thead>
        <tbody>
        {% for r in report %}
          <tr>
            <td>{{ r.rating }}</td>
            <td>{{ r.rating__count }}</td>
            <td>{{ r.report.f_arc }}</td>
            <td>{{ r.report.f_cont }}</td>
            <td>{{ r.report.f_hold }}</td>
            <td>{{ r.report.f_trip }}</td>
            <td>{{ r.report.f_knr }}</td>
            <td>{{ r.report.f_hv }}</td>
            <td>{{ r.report.rej }}</td>
            <td>{{ r.report.passed }}</td>
            <td>{{ r.report.rej_rate }}</td>
          </tr>
        {% endfor %}
        {% if total %}
            <tr>
                <td>All</td>
                <td>{{ total.tcount }}</td>
                <td>{{ total.f_arc }}</td>
                <td>{{ total.f_cont }}</td>
                <td>{{ total.f_hold }}</td>
                <td>{{ total.f_trip }}</td>
                <td>{{ total.f_knr }}</td>
                <td>{{ total.f_hv }}</td>
                <td>{{ total.rej }}</td>
                <td>{{ total.passed }}</td>
                <td>{{ total.rej_rate }}</td>
              </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    <script type="text/javascript">
      var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      var d = new Date();
      document.getElementById("today").innerHTML = d.toLocaleDateString("hi-IN");
    </script>
    <div class="container-fluid">
      <table class="table table-hover table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">date & time</th>
            <th scope="col">Count</th>
            <th scope="col">Rating</th>
            <th scope="col">HOlD V</th>
            <th scope="col">TRIP V</th>
            <th scope="col">ARC</th>
            <th scope="col">CONT</th>
            <th scope="col">HOLD</th>
            <th scope="col">HOLD A</th>
            <th scope="col">HOLD T</th>
            <th scope="col">TRIP</th>
            <th scope="col">TRIP A</th>
            <th scope="col">TRIP T</th>
            <th scope="col">KNR</th>
            <th scope="col">HV</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
              <tr>
                <th scope="row">{{ d.dt|date:"d/m/y H:i:s" }}</th>
                <td>{{ forloop.counter }}</td>
                <td>{{ d.rating }}</td>
                <td>{{ d.hold_v }}</td>
                <td>{{ d.trip_v }}</td>
                <td>{{ d.get_arc_display }}</td>
                <td>{{ d.get_cont_display }}</td>
                <td>{{ d.get_hold_display }}</td>
                <td>{{ d.hold_a }}</td>
                <td>{{ d.hold_t }}</td>
                <td>{{ d.get_trip_display }}</td>
                <td>{{ d.trip_a }}</td>
                <td>{{ d.trip_t }}</td>
                <td>{{ d.get_knr_display }}</td>
                <td>{{ d.get_knr_display }}</td>
                <td>{{ d.get_status_display }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endif %}
<br>
<div class="text-center">
  <a href="{% url 'users:reports' %}"><button type="button" disabled="" class="btn btn-primary btn-sm active">Reports</button></a>
  <a href="{% url 'users:homepage' %}"><button type="button" class="btn btn-primary btn-sm">Receive Data</button></a>
  <a href="{% url 'users:report-mail' %}"><button type="button" class="btn btn-primary btn-sm">Report Mail</button></a>
</div>
{% endblock %}